<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시판 글쓰기</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="/css/css.css">


    <script type="text/javascript">



        //글자 길이 바이트 단위로 체크하기(바이트값 전달)
        function calBytes(str) {
            let tcount = 0;
            let tmpStr = String(str);
            let strCnt = tmpStr.length;
            let onechar;
            for (let i = 0; i < strCnt; i++) {
                onechar = tmpStr.charAt(i);
                if (escape(onechar).length > 4) {
                    tcount += 2;
                } else {
                    tcount += 1;
                }
            }
            return tcount;
        }

        // 공지사항 저장하기
        function doSubmit() {

            let f = document.getElementById("f"); // form 태그

            if (f.title.value === "") {
                alert("제목을 입력하시기 바랍니다.");
                f.title.focus();
                return;
            }
            if (calBytes(f.title.value) > 200) {
                alert("최대 200Bytes까지 입력 가능합니다.");
                f.title.focus();
                return;
            }
            if (f.contents.value === "") {
                alert("내용을 입력하시기 바랍니다.");
                f.contents.focus();
                return;
            }
            if (calBytes(f.contents.value) > 4000) {
                alert("최대 4000Bytes까지 입력 가능합니다.");
                f.contents.focus();
                return;
            }

            // Ajax 호출해서 글 등록하기
            $.ajax({
                    url: "/notice/noticeInsert",
                    type: "post", // 전송방식은 Post
                    // contentType: "application/json",
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // /notice/noticeInsert 호출이 성공했다면..
                        alert(json.msg); // 메시지 띄우기
                        location.href = "/notice/noticeList"; // 공지사항 리스트 이동
                    }
                }
            )
        }
    </script>
    <link rel="stylesheet" href="/css/css.css">
</head>


<body>


<div class="board_wrap">
    <div class="board_title">
        <strong>공지사항</strong>
        <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
    </div>
    <div class="board_write_wrap">
        <form name="f" id="f">
        <div class="board_write">
            <div class="title">
                <dl>
                    <dt>제목</dt>
                    <dd><input type="text" name="title" placeholder="제목 입력"></dd>
                </dl>
            </div>
            <div class="info">
                <dl>
                    <dt>글쓴이</dt>
                    <dd>   <div class="divTableCell" th:text="${nDTO.userId}"></div> </dd>
                </dl>
                <dl>
                    <dt>작성 날짜</dt>
                    <dd><div id="current_date"></p> </div></dd>
                </dl>
            </div>
            <div class="cont">
                <textarea placeholder="내용 입력" name="contents" ></textarea>
            </div>
        </div>
        </form>
        <div class="bt_wrap">
            <a href="#" onclick="doSubmit()" class="on">등록</a>
            <a href="noticeList">취소</a>

        </div>
    </div>
</div>





</body>
<script>
    date = new Date();
    year = date.getFullYear();
    month = date.getMonth() + 1;
    day = date.getDate();
    document.getElementById("current_date").innerHTML = year + "/" + month + "/" + day;
</script>


</html>